.swiper-pagination {
  position: absolute;
  bottom: 200px !important; /* Adjust this value to move closer or further from the bottom */
  left: 0;
  right: 0;
  text-align: center;
}

.swiper-pagination-bullet {
  color: white;
  background: white;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #f9703e;
}

/* auth swiper  */
.auth-swiper .swiper-pagination {
  bottom: 0px !important; /* Adjust this value to move closer or further from the bottom */
}

.auth-swiper .swiper-pagination-bullet {
  background: black;
  opacity: 0.2;
}

.auth-swiper .swiper-pagination-bullet-active {
  background: red;
  opacity: 1;
}

.rc-slider-handle {
  transition: left 0.4s ease;
}
.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  box-shadow: 0 0 0 5px hsl(25, 100%, 82%);
}
